.word {
  padding: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

.clicked {
  color: gray;
}

.word:hover {
  background-color: rgb(232, 246, 250);
}

.wrong {
  color: rgb(255, 87, 87);
}

.correct {
  color: rgb(85, 141, 1);
  position: absolute;
  top: -0.5rem;
  left: 0;
  right: 0;
}