.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.score {
  color:rgb(39, 177, 211);
}