.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.question {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__content {
  margin-right: 3rem;
}

.word-box {
  position: relative;
  width: 800px;
  height: 350px;
}

.word {
  position: absolute;
  display: inline-block;
}

.question__icon {
  padding: 0;
  border: none;
  background: none;
}

@media (max-width: 770px) {
  .word-box {
    position: relative;
    width: 500px;
    height: 600px;
  }
}

@media (max-width: 530px) {
  .word-box {
    position: relative;
    width: 300px;
    height: 600px;
  }
}
