.button {
  margin-top: 2rem;
  border: 2px solid rgb(39, 177, 211);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: rgb(36, 168, 201);
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
}
