.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.info {
  position: absolute;
  top: calc(50% + 1.5rem)
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.input {
  width: 30%;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.input:focus {
  box-shadow: none;
}

@media (max-width: 700px) {
  .input {
    width: 85%;
  }
}